- title t('database_backup.import.title')

.messages.warning
    %p
        =t('database_backup.import.warning')

- form_tag ({:action => 'importFile', :onSubmit => "showAjaxLoadingBar()",:multipart => true}) do
    %p
        %label{:for => "upload_file"}=t('database_backup.import.label')
    = file_field :post, :attached, :accept => 'text/html'
    = render :partial => 'shared/loading_bar_element'
    = submit_tag t('database_backup.import.submit')

.action-links
    - if authorize?('access_administration')
        = link_to t('action.back'), {:controller => "admin", :action => "index"}, :class => 'acts_as_button darkgray'
