- title t('domain.edit')

= render :partial => 'form'

.action-links
    = link_to t('action.destroy'), @domain, :confirm => t('delete_confirmation'), :method => :delete, :class => 'acts_as_button lightgray'
    = link_to t('action.back'), domains_path, :class => 'acts_as_button darkgray'
