%h1=t('admin.catalog_type.edit')

= render :partial => 'form' ,:locals => { :active_catalogs_select => true}

.action-links
  = link_to t('action.destroy'), @catalog_type, :confirm => t('delete_confirmation'), :method => :delete, :class => 'acts_as_button lightgray'
  = link_to t('action.back'), catalog_types_path, :class => 'acts_as_button darkgray'

