- semantic_form_for @comment do |f|
    = f.error_messages

    - f.inputs do
        = f.input :comment, :input_html => { :rows => 4, :cols => 30 }
    - f.buttons do
        = f.commit_button :button_html => { :disable_with => t('please_wait') }
