- if current_active_patient
    -title t('task.patient_task_index') + " " + current_active_patient.first_name + " " + current_active_patient.family_name
- else
    -title t('task.patient_task_index')

- showmytasks = 0

.filters.task-filter
    = render :partial => 'tasks/filter/task_filter_domain', :locals => { :showmytasks => showmytasks }
    = render :partial => 'tasks/filter/task_filter_state', :locals => { :showmytasks => showmytasks }

= render :partial => 'task_index', :locals => { :showmytasks => showmytasks }