-title t('admin.medical_reports.header')

%table
  %tr
    %th Titel
    %th Standard
    %th Actions

  -@report_headers.each do |report_header|
    - if @standard == report_header
      - rh = '<img src="/images/check.png" alt="check" />'
    - else
      - rh =  '-'
    %tr
      %td= h report_header.title
      %td= rh
      %td
        =link_to 'Show', report_header
        =link_to 'Edit', edit_report_header_path(report_header)
        =link_to 'Standard', :action => 'standard', :id => report_header
        =link_to 'Destroy', report_header, :confirm => 'Are you sure?', :method => :delete


.action-links
  - if authorize?('create_reportheader')
    = link_to 'New report_header', new_report_header_path , :class => 'acts_as_button'