-title @report_header.title 

.fields
    .field
        .field-label
            Titel
        .field-content
            = h @report_header.title

.action-links
    - if authorize?('view_reportheader')
        = link_to t('action.back'), report_headers_path , :class => 'acts_as_button darkgray'
    - if authorize?('edit_reportheader')
        = link_to t('action.edit'), edit_report_header_path(@report_header), :class => 'acts_as_button'
        = link_to t('action.destroy'), @report_header, :confirm => 'Are you sure?', :method => :delete, :class => 'acts_as_button'
