-title @report_header.title 

.fields
    .field
        .field-label
            =t('admin.medical_reports.title')
        .field-content
            = h @report_header.title

.action-links
    - if authorize?('view_reportheader')
        = link_to t('action.back'), report_headers_path , :class => 'acts_as_button darkgray'
    - if authorize?('edit_reportheader')
        = link_to t('action.edit'), edit_report_header_path(@report_header), :class => 'acts_as_button'
        
