-title @report_header.title 

.fields
    .field
        .field-label
            Titel
        .field-content
            = h @report_header.title




.action-links
    = link_to t('action.edit'), edit_report_header_path(@report_header), :class => 'acts_as_button'
    = link_to t('action.back'), report_headers_path , :class => 'acts_as_button darkgray'
