%h1=t('case_file.listing')
%table
  %tr
    %th=t('case_file.entry_date')
    %th=t('case_file.leave_date')
  - if @case_files
    - @case_files.each do |case_file|
      %tr{:onclick=>"location.href='#{url_for :controller => 'case_files', :action => 'show', :id => case_file.id}';",:style=>"cursor:pointer;"}
        %td= h case_file.entry_date
        %td= h case_file.leave_date
%br/
= link_to t('case_file.new'), new_case_file_path, :class => 'acts_as_button'