%h1=t('case_file.new')

- semantic_form_for @case_file do |f|
    = f.error_messages

    - f.inputs do
        = f.input :entry_date
    = f.buttons

.action-links
    = link_to (:back), case_files_path, :class => 'acts_as_button darkgray'