@CHARSET "ISO-8859-1";

/*-------------------------------------------+
|                                            |
|             MASTER STYLESHEET              |
|                                            |
+-------------------------------------------*/

/*

COLOUR REFERENCES
-------------------------------------------------------- */
$magenta:#bf1399;
$darkyellow:#caae28;

$blue:#7690cf;

$verydarkgray:#333333;
$darkgray:#666666;
$mediumgray:#999999;
$lightgray:#cccccc;
$verylightgray:#eeeeee;
$veryverylightgray:#f6f6f6;

$red:#ee6633;
$green:#8cc746;
$yellow:#ffee66;
$activeblue:#bbddff;


html {
  height: 100%; }

body {
  height: 100%;
  font-size: 14px;
  line-height: 18px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: #ebebeb url('/images/bg_body.png') repeat-x top left;
  min-width: 780px;
  color:$verydarkgray;}

/*PARAGRAPHS
-------------------------------------------------------- */

p {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 18px; }

/*HEADINGS
-------------------------------------------------------- */

h1 {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 18px;
  color:$mediumgray;
  font-family: "Lucida Grande", "Lucida Sans", Verdana, "Lucida Sans Unicode", sans-serif;
  float:left;
  width:90%;}

h2 {
  font-size: 16px;
  line-height: 18px;
  color:$darkgray;
  font-family: "Lucida Grande", "Lucida Sans", Verdana, "Lucida Sans Unicode", sans-serif; }

h3 {
  font-size: 14px;
  color:$darkgray;
  font-family: "Lucida Grande", "Lucida Sans", Verdana, "Lucida Sans Unicode", sans-serif;
  text-transform: uppercase;
  font-weight: normal; }

h4, h5 {
  font-size: 14px;
  font-weight: bold; }

h6 {
  font-size: 14px; }

h2, h3, h4, h5, h6 {
  /*margin:12px 0 6px;
  padding-top:12px;*/
  margin-bottom: 18px; }

.floatingheadline {
    float:left;
    width:100%;
}

/*LISTS
-------------------------------------------------------- */

ul, ol {
  margin: 0 0 9px 18px; }

ul li ul, ol li ol {
  margin: 9px 0 9px 27px; }

ul li ul li ul, ol li ol li ol {
  margin: 9px 0 9px 36px; }

ul {
  list-style: square inside; }

ol {
  list-style: decimal inside; }

/*LINKS
-------------------------------------------------------- */

a {
  &:link {
    color:$blue;
    text-decoration: underline; }
  &:visited {
    color:$blue; }
  &:hover, &:active {
    color:$blue;
    text-decoration: none; } }

/*TABLES
-------------------------------------------------------- */

table {
    -moz-box-shadow:0 1px 0 #FFFFFF;
    background-color:#FFFFFF;
    border-collapse:collapse;
    border-color:#CCCCCC #DDDDDD #EEEEEE;
    border-style:solid;
    border-width:1px;
    font-size:12px;
    line-height:18px;
    margin:0 0 18px;
    width:100%;
    clear:both;
   

    td, th {
        border-color:#DDDDDD;
        border-style:solid;
        border-width:1px 0;
        padding:5px;
        vertical-align:top;

        &.active {
            background-color:$activeblue;
        }

        &.center {
            text-align:center;
        }
    }

    th {
        background-color:#EEEEEE;
        color:#666666;
        font-weight:normal;
        text-align:left;
        text-shadow:0 1px 0 #FFFFFF;
    }

    thead {
        th {
            border-top-color:#CCCCCC;
        }
    }

    tr.odd td {
        background-color:transparent;

        &.active {
            background:none repeat scroll 0 0 #ECF8FC;
        }
    }

    tr.even td {
        background-color:$veryverylightgray;
    }

    tr:hover {
        td {
            background-color:$verylightgray;
        }
    }

    tr.green {
        td {
            background-color:$green;
        }
    }

    tr.red {
        td {
            background-color:$red;
        }
    }

    tr.yellow {
        td {
            background-color:$yellow;
        }
    }

    tr.active {
        td {
            background-color:$activeblue;
        }

        &:hover {
            background-color:transparent;
        }
        
    }    
}


/*MISC
-------------------------------------------------------- */

.left {
  float: left; }

.right {
  float: right; }

.callout {
  border: 1px solid $lightgray;
  background-color: #F1F2E7;
  padding: 8px 10px;
  margin-bottom: 18px;
  color: #A39C8D;
  p {
    font-size: 12px; }
  :last-child {
    margin-bottom: 0; } }

blockquote p {
  font-size: 12px!important;
  line-height: 18px!important;
  margin-bottom: 18px!important;
  font-style: italic;
  font-weight: bold;
  cite {
    font-style: normal; } }

abbr {
  border-bottom: 1px dotted $darkgray;
  border-color: inherit;
  cursor: help; }

/*GRID
-------------------------------------------------------- */

#wrapper {
  min-height: 100%;
  position: relative;
  height: auto; }

#container {
  margin:0 auto;
  max-width: 1270px;
  padding: 0 20px;
  display: block; }

#frontpage {
    #container {
        max-width:340px;
        width:340px;
    }

    &.page-users,
    &.page-install{
        #container {
            width:800px;
            max-width:800px;
        }

        h1 {
            width:100%;
        }
    }
}

#header {
  height: 140px; }

#sidebar {
  float: left;
  position: relative;
  width: 140px;
  z-index: 2; }

#center {
  float: left;
  width: 100%;
  margin-left: -140px; }

#frontpage {
    #center {
        margin:0;
    }
}

#squeeze {
  position: relative;
  margin-left: 140px; }

#footer {
  width: 100%;
  background:$lightgray url('/images/bg_footer.png') repeat-x top left;
  border-top: 1px solid #b1b1b1;
  clear: both;
  height: 29px;
  margin-top: -30px;
  position: relative;
  z-index: 10; }

.inner {
  margin: 18px 18px 18px 36px;
  }

.inner-bg {
  float:left;
  background-color:#fff;
  width:100%;
  padding-bottom:18px;
  min-height:400px;
}

#frontpage {
    .inner {
        margin: 18px;
    }

    .inner-bg {
        min-height:0;
    }
}

.left .inner, .callout.left {
  margin: 0 18px 18px 0; }

.right .inner, .callout.right {
  margin: 0 0 18px 18px; }

.text-center {
    text-align:center;
}

/*ERRORS WARNINGS OK
------------------------------------------------------*/

fieldset {
    &.messages {
        &.ok {
            border:1px solid #689434;
            color:#fff;
            background:#8cc746;
        }

        &.error {
            color:#fff;
            background:#e63;
            border-color:#F23D30;
        }

        &.warning {
            color: #840;
            background: #fe6;
            border:1px solid #ed5;
        }
    }
}

div {
  &.messages {
    margin: 0 0 9px 0;
    float:left;
    width:100%;
    p {
      padding:9px;
      margin:0; }
  }
  
  &.notice {
    border:1px solid #689434;
    color:#fff;
    background:#8cc746; }

  &.warning {
    color: #840;
    background: #fe6;
    border:1px solid #ed5; }

  &.error,
  .errorExplanation {
    color:#fff;
    background:#e63;
    border-color:#F23D30; }

  &.message {
    color: #036;
    background: #bdf;
    border: 1px solid #ace; } }


.errorExplanation {
    margin:0 0 18px;

    h2, p, ul {
        padding:9px;
        margin:0;
        color:#fff;
    }
    ul {
        margin-left:18px;
    }
}

form .messages,
form .errorExplanation {
    float:left;
    width:100%;
}

.error-detail-headline,
.error-detail-options {
    margin-top:36px;
}

/*FORMS and BUTTONS
-------------------------------------------------------- */

.text_field,
.password_field,
textarea,
.calendar input {
    border:1px solid $mediumgray;
    padding:4px 6px;
    background-color:$veryverylightgray;

    &:focus {
        background-color:#fff;
        border-color:$mediumgray;
    }
}

.button,
a.acts_as_button{
    border:none;
    background:$magenta url('/images/overlay.png') repeat-x;
    display: inline-block;
    padding:4px 8px 4px;
    color: #fff;
    text-decoration: none;
    font-weight:bold !important;
    line-height:18px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -moz-box-shadow:0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom:1px solid rgba(0,0,0,0.25);
    position:relative;
    cursor:pointer;
    font-size:12px !important;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif !important;

    &:hover {
        background-color:$verydarkgray;
        color:#fff;
    }

    &:active {
        background-color:$darkgray;
        color:#fff;
    }

    &.lightgray {
       background-color:$lightgray;

       &:hover {
        background-color:$verydarkgray;
        color:#fff;
        }
    }

    &.mediumgray {
       background-color:$mediumgray;

       &:hover {
        background-color:$verydarkgray;
        color:#fff;
        }
    }

    &.darkgray {
       background-color:$darkgray;

       &:hover {
        background-color:$verydarkgray;
        color:#fff;
        }
    }

    &.darkyellow {
       background-color:$darkyellow;

       &:hover {
        background-color:$verydarkgray;
        color:#fff;
        }
    }
}

.new_report_header {
    clear:both;
}

.formtastic {
    clear:both;

    span.required {
        font-size:11px;
        color:$darkyellow;
        margin-left:4px;
    }

    .error {
        input, textarea {
            border-color:#F23D30;
        }

        label {
            color:#F23D30;
        }
    }

    fieldset.inputs,
    fieldset.buttons {
        float:left;
        width:100%;
    }
}

/*
 * Fieldsets
 */

fieldset.fieldset {
    border: 1px solid $lightgray;
    padding: 30px 13px 13px 14px;
    margin: 0 0 10px;

    legend span,
    legend a {
        position: absolute;
        margin-top: 9px;
        margin-left: 13px;
        background:url("/images/menu-expanded.png") no-repeat scroll 5px 75% transparent;
        display:block;
        padding-left:18px;

        span {
            position: relative;
            background:none;
            padding-left:0;
            margin-top: 0;
            margin-left: 0;
        }
    }

    &.collapsible {
        position:relative;
        
        legend a {
            color:$blue;
            font-weight:bold;
            text-transform:uppercase;
            cursor:pointer;
        }
    }

    &.messages {
       legend a {
            color:#fff;
       }
    }

    &.collapsed {
       
        legend a {
            background-image:url("/images/menu-collapsed.png");
            background-position:5px 50%;
        }
    }

    .fieldset-setup-fix {
        margin:9px 0 0 0;
        a {
            color:#fff;
        }
    }

}



/*VIEWS
-------------------------------------------------------- */

/**
 * show fields
 */

.fields {
    float:left;
    width:90%;

    .field {
        float:left;
        width:100%;
        margin-bottom:18px;

        .field-label {
            float:left;
            width:30%;
            text-align:left;
            padding-right:9px;
            font-weight:bold;
        }

        .field-content {
            float:left;
            width:60%;
            text-align:left;

            p {
                margin:0;
            }
        }
    }
}

/**
 * show fields
 */

.pagination {
    font-size:12px;
    font-weight:bold;

    a {
        &:link, &:visited {
            padding:2px 6px;
            border:1px solid $verylightgray;
            background-color:$lightgray;
            text-decoration:none;
            color:$blue;
        }

        &:hover, &:active {
            background-color:$verydarkgray;
            color:#fff;
        }

        &.next_page, &.prev_page {
            background-color:transparent;
            border:none;

            &:hover {
                color:$blue;
            }
        }
    }

    .current {
        padding:2px 6px;
        border:1px solid $verylightgray;
        background-color:$magenta;
        color:#fff;
    }

    .disabled {
        color:$lightgray;
    }

   
}

/**
 * Icons for catalog search
 */

 .icon-check {
	background-image:url(/images/check.png) ! important;
    }

 .icon-uncheck {
	background-image:url(/images/uncheck.png) ! important;
    }
/** 
 * legends
 */

.color-legend {
    .color {
        display:block;
        width:9px;
        height:9px;
        border:2px solid $lightgray;
        float:left;
        margin-top:2px;
        
        &.activeblue {
            background-color:$activeblue;
        }

        &.green {
            background-color:$green;
        }
        
        &.red {
            background-color:$red;
        }
        
        &.yellow {
            background-color:$yellow;
        }
       
    }

    .color-description {
        margin:0 18px 0 9px;
        font-size:12px;
        color:$mediumgray;
        float:left;
    }
}


/**
 * filter
 */

.filters {
    text-align:right;
    margin:9px 0;

    .filter {
        margin:0 9px;
        display:inline;

        .filter-label {
            font-size:12px;
            color:$mediumgray;
            margin:9px 0;
        }

        .filter-filter {
        }
    }
}

