@CHARSET "ISO-8859-1";

/*-------------------------------------------+
|                                            |
|             STYLE STYLESHEET               |
|             master overrides               |
|                                            |
+-------------------------------------------*/

/*

COLOUR REFERENCES
-------------------------------------------------------- */
$magenta:#bf1399;
$darkyellow:#caae28;

$blue:#7690cf;

$verydarkgray:#333333;
$darkgray:#666666;
$mediumgray:#999999;
$lightgray:#cccccc;
$verylightgray:#eeeeee;

/*MAIN NAVIGATION
-------------------------------------------------------- */

.main-navigation {
  background-color: #414141; 
  margin: 40px 0 0 0;
  padding: 10px 0;
  list-style: none;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 4px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 4px;
  -webkit-border-top-left-radius: 12px;
  -webkit-border-bottom-left-radius: 12px;
  -moz-border-radius-topleft: 12px;
  -moz-border-radius-bottomleft: 12px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  float: left;
  width: 140px; }

.main-navigation-leaf {
  margin: 0;
  list-style: none;
  float: left;
  a {
    background: #caae28 url('/images/overlay.png') repeat-x bottom left;
    width: 132px;
    height: 20px;
    padding: 5px 4px;
    display: block;
    color: #fff;
    text-decoration: none;
    float: left;
    &:hover, &.active {
      background: #bf1399 url('/images/overlay.png') repeat-x bottom left; } } }

.navi-img {
  width: 26px;
  height: 26px;
  display: block;
  float: left;
  padding:6px 0 0 34px;
  margin: -5px 8px 0 4px;
  background-image: url('/images/navi_img_all.png');
  background-repeat: no-repeat; }

.navi-img-patient {
  background-position: 0 -30px; }

.navi-img-termin {
  background-position: 0 -60px; }

.navi-img-aufgabe {
  background-position: 0 0; }

.navi-img-verwaltung {
  background-position: 0 -90px; }

.navi-img-active {
    float:right;
    margin-top:-25px;
}

/**
 * subnavi
 */

.main-subnavigation {
  margin: 0 0 0 16px;
  list-style: none;
  font-size: 12px; }

.main-subnavigation-leaf {
  margin: 0;
  list-style: none;
  a {
    background: none;
    background-color: transparent;
    &:hover, &.active {
      background: none;
      background-color: transparent; }
    &:hover, &.active {
      text-decoration: underline; } } }

/*SECONDARY TAB NAVIGATION
-------------------------------------------------------- */

.secondary-navigation {
  margin: -4px 0 0 0;
  padding: 0;
  border-bottom: 1px solid #e2e2e2;
  list-style: none;
  height: 30px;
  width: 100%;
  background: #e7e7e7 url('/images/bg_tab.png') repeat-x top left;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;

  &.inactive {
        .secondary-navigation-leaf a {
            color:$lightgray;
        }
    }
}

  

.secondary-navigation-leaf {
  margin: 0;
  padding: 0;
  list-style: none;
  border-right: 1px solid #e2e2e2;
  display: inline;
  float: left;
  
  a {
    background: #e7e7e7 url('/images/bg_tab.png') repeat-x top left;
    height: 20px;
    padding: 5px 16px;
    display: block;
    color:$darkgray;
    text-decoration: none;
    &:hover {
      background: none;
      background-color: #fff; }
    &.active {
      background: none;
      background-color: #fff;
      border-bottom: 1px solid #fff;
      color:$magenta; } } }
    

/*HEADER
-------------------------------------------------------- */

/**
 * logo
 */

.logo {
  float: right;
  margin-top: 18px; }

/**
 * user, domain
 */

.user-info, .domain-info {
    width: 100px;
    height: 62px;
    float: left;

    a {
        text-decoration:none;
    }

    .name {
        font-size: 12px;
        font-weight: bold;
        text-shadow: 1px 1px 0px $verylightgray;
        color:$darkgray;
        display: block;
        text-align: center;
        margin-top: 33px;
    }

}


.user-info {
  background: transparent url('/images/user.png') no-repeat top center;
  margin: 18px 0 0 140px; }

.domain-info {
  background: transparent url('/images/domain.png') no-repeat top center;
  margin: 18px 0 0 18px; }

.patient.messages {
    padding:9px;
    display:inline;
    max-width:500px;
    float:left;
    margin-left:140px;
    text-align:left;
}

.patient a {
    margin-left:10px;
}

/**
 * logout, help
 */

.links {
  text-align: right;
  float: right;
  width: 100%;
  margin-bottom:18px;}

a.links-link {
  font-size: 12px;
  font-weight: bold;
  text-shadow: 1px 1px 0px $verylightgray;
  color:$darkgray;
  text-decoration: none;
  margin: 18px 8px 0;
  float: right; }

.link-help img {
  float: right;
  margin-top: 4px; }

/*CONTENT
-------------------------------------------------------- */

.content {
  background-color: #fff;
  padding-bottom: 18px;
  min-height:100px;}

#frontpage {
    .inner-bg {
        -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 4px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 4px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 4px;
        border:1px solid $lightgray;
    }
}

/**
 * links
 */

.action-links {
    float:left;
    width:60%;
    margin:18px 0 0;

    a {
        margin-right:9px;
    }
}


/**
 * comments
 */

 #comments {
     float:right;
     width:39%;

     .comments-list {
        list-style:none;
        margin:0;
        padding:0;
     }
     .comment {
        list-style:none;
        padding:0;
        margin:0 0 18px;
       
        .comment-body {
            background-color:$verylightgray;
            padding:9px;
            border-radius:6px;
            -moz-border-radius:6px;
            -webkit-border-radius:6px;
        }

        .comment-date {
            color:$lightgray;
            font-size:12px;
        }
     }

     .comment_form {
         margin-top:18px;
         textarea {
            width:90%;
        }
        input {
            margin-top:9px;
        }
     }

     .comment_form_headline {
        margin:18px 0 9px;
        padding-top:9px;
        border-top:1px solid $verylightgray;
     }
 }

/**
 * override fields
 */

#page-patients {
    &.show {
        .fields {
            width:50%;
        }
    }
}


/*FOOTER
-------------------------------------------------------- */

#footer p {
  color:$mediumgray;
  margin: 4px 0 0 0;
  font-size: 10px;
  text-align: center; }

/*ADMIN AREA
-------------------------------------------------------- */

.admin-list {
    float:left;
    width:45%;
    margin:0 2% 36px;
    padding-bottom:18px;

    dt {
        margin:0 0 9px;
        font-size: 16px;
        line-height: 18px;
        color:$darkgray;
        font-family: "Lucida Grande", "Lucida Sans", Verdana, "Lucida Sans Unicode", sans-serif;
        font-weight:bold;
        float:left;
        width:100%;
    }

    dd {
        float:left;
        width:100%;
        margin:10px 0 0;
        padding:9px 0;
        border-bottom:1px solid $verylightgray;

        &.last {
            border:none;
        }

        a {
            text-decoration:none;
            
            float:left;
            img {
                text-decoration:none;
                margin-right:18px;
               float:left;
               margin-top:-10px;
            }
        }
    }
}


/**
 * permissions
 */

tr.permission-group {
    td {
        background-color:$verylightgray;
    }
}

td.permission-group {
    font-weight:bold;
}

td.permission {
    padding-left:18px;
}

/**
* Catalog Show
*/

#node-description{
    font-size:12px;
    font-style:italic;
    color:$darkgray;
}
#node-name {  }
#node-id { font-weight:bold;}

.show-catalog-tree {
    float:left;
    width:100%;
}

ul.x-tree-root-ct {
    list-style:none;
    margin:0;
    padding:0;

    li.x-tree-node {
        list-style:none;
        margin:0;
        padding:0;

        a span {
            color:$verydarkgray;
            font-size:14px;
        }
    }

    ul.x-tree-node-ct {
        list-style:none;
        margin:0;
        padding:0;
    }
}
