@CHARSET "ISO-8859-1";

/*-------------------------------------------+
|                                            |
|             STYLE STYLESHEET               |
|             master overrides               |
|                                            |
+-------------------------------------------*/

/*

COLOUR REFERENCES
-------------------------------------------------------- */
$magenta:#bf1399;
$darkyellow:#caae28;

$blue:#7690cf;

$verydarkgray:#333333;
$darkgray:#666666;
$mediumgray:#999999;
$lightgray:#cccccc;
$verylightgray:#eeeeee;

$red:#ee6633;
$green:#8cc746;
$yellow:#ffee66;
$activeblue:#bbddff;

/*MAIN NAVIGATION
-------------------------------------------------------- */

.main-navigation {
  background-color: #414141; 
  margin: 40px 0 0 0;
  padding: 10px 0;
  list-style: none;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 4px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 4px;
  -webkit-border-top-left-radius: 12px;
  -webkit-border-bottom-left-radius: 12px;
  -moz-border-radius-topleft: 12px;
  -moz-border-radius-bottomleft: 12px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  float: left;
  width: 140px; }

.main-navigation-leaf {
  margin: 0;
  list-style: none;
  float: left;
  a {
    background: #caae28 url('/images/overlay.png') repeat-x bottom left;
    width: 132px;
    height: 20px;
    padding: 5px 4px;
    display: block;
    color: #fff;
    text-decoration: none;
    float: left;
    &:hover, &.active {
      background: #bf1399 url('/images/overlay.png') repeat-x bottom left; } } }

.navi-img {
  width: 26px;
  height: 26px;
  display: block;
  float: left;
  padding:6px 0 0 34px;
  margin: -5px 8px 0 4px;
  background-image: url('/images/navi_img_all.png');
  background-repeat: no-repeat; }

.navi-img-patient {
  background-position: 0 -30px; }

.navi-img-termin {
  background-position: 0 -60px; }

.navi-img-aufgabe {
  background-position: 0 0; }

.navi-img-verwaltung {
  background-position: 0 -90px; }

.navi-img-active {
    float:right;
    margin-top:-25px;
}

/**
 * subnavi
 */

.main-subnavigation {
  margin: 0 0 0 16px;
  list-style: none;
  font-size: 12px; }

.main-subnavigation-leaf {
  margin: 0;
  list-style: none;
  a {
    background: none;
    background-color: transparent;
    &:hover, &.active {
      background: none;
      background-color: transparent; }
    &:hover, &.active {
      text-decoration: underline; } } }

/*SECONDARY TAB NAVIGATION
-------------------------------------------------------- */

.secondary-navigation {
  margin: -4px 0 0 0;
  padding: 0;
  border-bottom: 1px solid #e2e2e2;
  list-style: none;
  height: 30px;
  width: 100%;
  background: #e7e7e7 url('/images/bg_tab.png') repeat-x top left;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;

  &.inactive {
        .secondary-navigation-leaf a {
            color:$lightgray;
        }
    }
}

  

.secondary-navigation-leaf {
  margin: 0;
  padding: 0;
  list-style: none;
  border-right: 1px solid #e2e2e2;
  display: inline;
  float: left;
  
  a {
    background: #e7e7e7 url('/images/bg_tab.png') repeat-x top left;
    height: 20px;
    padding: 5px 16px;
    display: block;
    color:$darkgray;
    text-decoration: none;
    &:hover {
      background: none;
      background-color: #fff; }
    &.active {
      background: none;
      background-color: #fff;
      border-bottom: 1px solid #fff;
      color:$magenta; } } }
    

/*HEADER
-------------------------------------------------------- */

/**
 * logo
 */

.logo {
  float: right;
  margin-top: 18px; }

/**
 * user, domain
 */

.user-info, .domain-info {
    width: 100px;
    height: 62px;
    float: left;

    a {
        text-decoration:none;
    }

    .name {
        font-size: 12px;
        font-weight: bold;
        text-shadow: 1px 1px 0px $verylightgray;
        color:$darkgray;
        display: block;
        text-align: center;
        margin-top: 33px;
    }

}


.user-info {
  background: transparent url('/images/user.png') no-repeat top center;
  margin: 18px 0 0 140px; }

.domain-info {
  background: transparent url('/images/domain.png') no-repeat top center;
  margin: 18px 0 0 18px; }

.active-patient {
    padding:4px 5px;
    display:inline;
    max-width:500px;
    float:left;
    margin:9px 0 0 140px;
    text-align:left;
    background-color:$verylightgray;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    font-size:12px;
    -moz-box-shadow:0 1px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.3);

    span {
      color:$darkgray;
      font-weight:normal;
    }

    a {
        margin-left:5px;
        text-shadow:none;
        font-size:12px;
        font-weight:normal;
    }

    &:hover {
        background-color:$activeblue;
        cursor:pointer;
    }
}


/**
 * logout, help
 */

.links {
  text-align: right;
  float: right;
  width: 100%;
  margin-bottom:18px;}

a.links-link {
  font-size: 12px;
  font-weight: bold;
  text-shadow: 1px 1px 0px $verylightgray;
  color:$darkgray;
  text-decoration: none;
  margin: 18px 8px 0;
  float: right; }

.link-help {
    float:right;
    width:24px;
    height:24px;
    display:block;
    background:transparent url('/images/help.png') no-repeat top left;
    text-decoration:none;
    border:none;
  
    &:hover {
        background-position:bottom left;
    }
}

/*CONTENT
-------------------------------------------------------- */

.content {
  background-color: #fff;
  padding-bottom: 18px;
  min-height:100px;}

.main-content {
  float:left;
  width:100%;
}

#frontpage {
    .inner-bg {
        -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 4px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 4px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 4px;
        border:1px solid $lightgray;
    }

    .text_field,
    .password_field {
        width:190px;
    }
}

/**
 * links
 */

.action-links {
    float:left;
    width:100%;
    margin:18px 0 0;

    a {
        margin-right:9px;
    }

    .delete {
        float:right;
    }
}


/**
 * comments
 */

 #comments {
     float:right;
     width:39%;

     .comments-list {
        list-style:none;
        margin:0;
        padding:0;
     }
     .comment {
        list-style:none;
        padding:0;
        margin:0 0 18px;
       
        .comment-body {
            background-color:$verylightgray;
            padding:9px;
            border-radius:6px;
            -moz-border-radius:6px;
            -webkit-border-radius:6px;
        }

        .comment-date {
            color:$lightgray;
            font-size:12px;
            text-align:right;
        }
     }

     .comment_form {
         margin-top:18px;
         textarea {
            width:90%;
        }
        input {
            margin-top:9px;
        }
     }

     .comment_form_headline {
        margin:18px 0 9px;
        padding-top:9px;
        border-top:1px solid $verylightgray;
     }
 }

/**
 * override fields
 */

#page-patients {
    &.show-action {
        .fields {
            width:50%;
        }

        .action-links {
            width:55%;
        }
    }
}

/**
 * search
 */

#search_form {
    float:left;
    width:100%;
    text-align:center;

    label {
        font-size:12px;
        color:$darkyellow;
    }

    .patient-search {
        margin:0 auto;
        width:200px;
        border:4px solid $lightgray;
        border-radius:4px;
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
        text-align:left;

        .text_field {
            border:none;
            background-color:#fff;
            width:158px;
            
        }

        img {
            width:20px;
            height:20px;
            float:right;
            margin:2px 6px 0 0;
        }
    }
}

#search_results {
    margin-top:18px;
    float:left;
    width:100%;

}

/**
 * box
 */

.box {
    background-color:$verylightgray;
    float:left;
    width:100%;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    margin-bottom:18px;

    .box-inner {
        margin:9px;
    }
}


/*FOOTER
-------------------------------------------------------- */

#footer {
    p {
        color:$mediumgray;
        margin: 4px 0 0 0;
        font-size: 10px;
        text-align: center;
    }
    
    a {
        color:$mediumgray;
    }
}

/*DIALOG
-------------------------------------------------------- */

.dialog {
    table.table_window {
        border:none;
        background-color:transparent;

        td, th {
            border:none;
        }

        tr:hover {
            td, th {
                background-color:transparent;
            }

            td.dialog_content {
                background-color:$activeblue;
            }
        }

    }

    .title_window {
        padding-top:2px;
    }

    
    .dialog_content {
        background-color:$activeblue;
        color:$verydarkgray;
        font-size:12px;
    }

    td.dialog_content {
        min-height:282px !important;
        min-width:282px !important;
    }

    div.dialog_content {
        float:left;
        width:auto !important;
        height:auto !important;
        min-height:282px !important;
        min-width:282px !important;
        margin:9px;
    }
}

/*CALENDAR
-------------------------------------------------------- */

/* Outer most container */
.ec-calendar {
  font-size: 11px;
  line-height: 14px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #d5d5d5;

  table {
        -moz-box-shadow:none;
        background-color:transparent;
        border:none;
        font-size:12px;
        line-height:14px;
        margin:0;
        width:100%;
        float:none;

        td, th {
            border:none;
            padding:0;
            vertical-align:middle;
        }

        th {
            background-color:transparent;
            color:$darkgray;
            font-weight:normal;
            text-align:left;
            text-shadow:none;
        }

        thead {
            th {
                border-color:transparent;
            }
        }

        tr:hover {
            td {
                background-color:transparent;
            }
        }
    }

    /* Month name header & links */
    table.ec-calendar-header {
        padding: 5px 0;
        width: 100%;
        table-layout: fixed;

        th.ec-month-name {
          font-size: 16px;
          font-weight: bold;
        }

        td.ec-month-nav {

        }

        th {
            text-align:center;
            padding:5px 0;
        }
    }

    /* Containers */
    .ec-body {
      position: relative;
      border-right: 1px solid $mediumgray;
      white-space: nowrap;
    }

    /* Day names */
    table.ec-day-names {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        table-layout: fixed;
        padding: 2px 0;
        background-color:$mediumgray;
        color: white;

        th.ec-day-name, td.ec-day-name {
            text-align:center;
            font-weight: normal;
            color:#fff;
            background-color:$mediumgray;
        }
    }


    /* Rows container and Row */
    .ec-rows {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background: white;
      overflow: hidden;
      border-right: 1px solid #d5d5d5;
    }

    .ec-row {
      position: absolute;
      left: 0;
      width: 100%;
      overflow: hidden;
    }

    /* Background */
    table.ec-row-bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        table-layout: fixed;

        td.ec-day-bg {
            border-left: 1px solid #d5d5d5;
        }

        td.ec-today-bg {
            background-color: #ffffdd;
        }

        td.ec-today-bg {
            background-color:$activeblue;
        }
    }



    table.ec-row-table {
        position: relative;
        width: 100%;
        table-layout: fixed;

        /* Day header */
        .ec-day-header {
            color: #444;
            text-align: right;
            padding: 0 5px;
            line-height: 16px;
            border-top: 1px solid #d5d5d5;
            border-left: 1px solid #d5d5d5;
            border-bottom: 1px dotted #bbbbbb;
            background-color: #ecede2;
            overflow: hidden;
        }

        a.ec-day-link {
            color: #444;
        }

        .ec-today-header {
            background-color: #d7d7ba;
        }

        .ec-weekend-day-header {

        }

        .ec-today-header {
            background-color:$blue;
        }

        .ec-other-month-header {
            background-color: #efefef;
            color: #777;
        }

        /* Event cell and container */
        .ec-event-cell {
            cursor: pointer;
            vertical-align: top;
            padding-right: 1px;
            padding-left: 2px;
        }

        .ec-event-cell a {
            text-decoration: none;
            display: block;
            width: 100%;
            height: 100%;
        }

        .ec-no-event-cell {
            cursor: default;
        }

        .ec-event {
            color: white;
            padding-right: 1px;
            padding-left: 11px;
            -webkit-border-radius: 3px;
            -khtml-border-radius: 3px;
            -moz-border-radius: 3px;
            overflow: hidden;
            white-space: nowrap;
        }

        .ec-event :hover {
            /* doesn't look as good as js highlighting */
            /* background-color: #2eac6a; */
        }

        .ec-event-bg a {
            color: white;
        }

        /* used to distinguish non-all_day events */
        .ec-event-no-bg {
            position: relative;
            /* padding-left: 5px; */
        }

        .ec-event-no-bg a {
            /* isn't implemented in all browsers */
            color: inherit;
        }

        .ec-event-time {
            font-size: 85%;
            font-weight: bold;
            padding-right: 3px;
        }
    }

    /* Left and right arrows */
    /* Doesn't work in IE6, use bg images instead */
    .ec-left-arrow, .ec-right-arrow {
      position: relative;
      top: 3px;
      width: 0;
      height: 0;
      font-size: 0;
      line-height: 0;
      margin-bottom: -8px;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
    }

    .ec-left-arrow {
      margin-left: -7px;
      margin-right: auto;
      border-right: 4px solid white;
    }

    .ec-right-arrow {
      margin-left: auto;
      margin-right: 3px;
      border-left: 4px solid white;
    }

    /* remove this to not have a bullet */
    /* don't look as good in ie */
    .ec-bullet {
      position: absolute;
      top: 7px;
      width: 4px;
      height: 4px;
      margin-left: -7px;
      margin-right: auto;
      -webkit-border-radius: 2px;
      -khtml-border-radius: 2px;
      -moz-border-radius: 2px;
    }
}




/*ADMIN AREA
-------------------------------------------------------- */

.admin-list {
    float:left;
    width:45%;
    margin:0 2% 36px;
    padding-bottom:18px;

    dt {
        margin:0 0 9px;
        font-size: 16px;
        line-height: 18px;
        color:$darkgray;
        font-family: "Lucida Grande", "Lucida Sans", Verdana, "Lucida Sans Unicode", sans-serif;
        font-weight:bold;
        float:left;
        width:100%;
    }

    dd {
        float:left;
        width:100%;
        margin:10px 0 0;
        padding:9px 0;
        border-bottom:1px solid $verylightgray;

        &.last {
            border:none;
        }

        a {
            text-decoration:none;
            
            float:left;
            img {
                text-decoration:none;
                margin-right:18px;
               float:left;
               margin-top:-10px;
            }
        }
    }
}


/**
 * permissions
 */

tr.permission-group {
    td {
        background-color:$verylightgray;
    }
}

td.permission-group {
    font-weight:bold;
}

td.permission {
    padding-left:18px;
}

/**
* Catalog Show
*/

#node-description{
    font-size:12px;
    font-style:italic;
    color:$darkgray;
}
#node-name {  }
#node-id { font-weight:bold;}

.show-catalog-tree {
    float:left;
    width:100%;
}

ul.x-tree-root-ct {
    list-style:none;
    margin:0;
    padding:0;

    li.x-tree-node {
        list-style:none;
        margin:0;
        padding:0;

        a span {
            color:$verydarkgray;
            font-size:14px;
        }
    }

    ul.x-tree-node-ct {
        list-style:none;
        margin:0;
        padding:0;
    }
}
