-title(t('admin.admin_area'))

%dl.admin-list.user-management
    %dt=t('admin.user_management')
    %dd=link_to image_tag("users.png", :alt => "Users") + t('admin.users'), users_path
    %dd=link_to image_tag("domains.png", :alt => "Domains") + t('admin.domains'), domains_path
    %dd.last=link_to image_tag("permissions.png", :alt => "Permissions") + t('admin.permissions'), permissions_path

%dl.admin-list.catalog-management
    %dt=t('admin.catalog_management')
    %dd=link_to image_tag("catalogs.png", :alt => "Catalogs") + t('admin.catalogs'), catalogs_path
    %dd.last=link_to image_tag("catalog_types.png", :alt => "Catalog Types") + t('admin.catalog.types'), catalog_types_path

%dl.admin-list.file-management
    %dt=t('admin.file_management')
    %dd.last=link_to image_tag("export.png", :alt => "Export") + t('admin.export'), {:controller => "admin", :action => "index"}
