%ul{:class => "secondary-navigation" + " " + is_active_multiple_controller?('patients', 'case_files', 'treatments', 'medical_reports', 'patienttasks', 'diagnoses', 'findings', 'patient_histories')}
    -if current_active_patient != nil
        - if authorize?('view_patient')
            %li{:class => "secondary-navigation-leaf"}
                =link_to t("navi.tabs.master_data"), {:controller => 'patients', :action => 'show', :id => current_active_patient.id}, :class => is_active?('patients', "show")

        - if authorize?('access_anamnese')
            %li{:class => "secondary-navigation-leaf"}
                =link_to t("navi.tabs.anamnesis"), patient_patient_histories_path(:patient_id => current_active_patient.id), :class => is_active?('patient_histories')

        - if authorize?('view_casefile')
            %li{:class => "secondary-navigation-leaf"}
                =link_to t("navi.tabs.case_Overview"), patient_case_files_path(:patient_id => current_active_patient.id), :class => is_active?('case_files')

        - if authorize?('access_finding')
            %li{:class => "secondary-navigation-leaf"}
                =link_to t("navi.tabs.findings"), patient_findings_path(:patient_id => current_active_patient.id), :class => is_active?('findings')

        - if authorize?('view_treatment')
            %li{:class => "secondary-navigation-leaf"}
                =link_to t('navi.tabs.treatment'), patient_case_file_treatments_path(:case_file_id => get_case_for_view, :patient_id => current_active_patient.id), :class => is_active?('treatments')

        - if authorize?('view_own_task') || authorize?('view_all_tasks') || authorize?('view_domain_task')
            %li{:class => "secondary-navigation-leaf"}
                =link_to t('navi.tabs.tasks'), patient_tasks_path(:patient_id => current_active_patient.id), :class => is_active?('patienttasks')

        - if authorize?('view_diagnosis')
            %li{:class => "secondary-navigation-leaf"}
                =link_to t('navi.tabs.diagnoses'), patient_case_file_diagnoses_path(:case_file_id => get_case_for_view, :patient_id => current_active_patient.id), :class => is_active?('diagnoses')
