%p
  %b Year:
  = h @catalog.year
%p
  %b Language:
  = h @catalog.language
%p
  %b Catalog Type:
  = h @catalog.catalog_type.name
%p
  #show_catalog_jtree 
%br
= link_to t(:edit), edit_catalog_path(@catalog), :class => 'acts_as_button'

=link_to t(:back), catalogs_path, :class => 'acts_as_button darkgray'
