- title @temp.name

.fields
    .field
        .field-label
            =t('template.name')
        .field-content
            = h @temp.name
    - if @temp.domain
        .field
            .field-label
                =t('template.domain')
            .field-content
                = h @temp.domain.name
.action-links
    = link_to t('action.edit'), edit_template_path(@template), :class => 'acts_as_button'
    = link_to t('action.back'), templates_path, :class => 'acts_as_button darkgray'
