- title t('domain.edit')

= render :partial => 'form'

.action-links
    - if authorize?('delete_domain')
        = link_to t('action.destroy'), @domain, :confirm => t('delete_confirmation'), :method => :delete, :class => 'acts_as_button lightgray'
    - if authorize?('view_domain')
        = link_to t('action.back'), domains_path, :class => 'acts_as_button darkgray'
