%img.logo{:src => "/images/logo.png", :alt => "Hopen Logo"}
.user
    %span.name
        Dr. Maier
.domain
    %span.name
        Labor
.links
    %a{:class => "links-link link-help", :href => ""}
        %img{:src => "/images/help.png", :alt => "Help"}
    %a{:class => "links-link", :href => ""}
        Logout