%ul.main-navigation
    %li{:class => "first main-navigation-leaf"}
        - if authorize?('view_patient')
            =link_to make_image_link(t('navi.main.patients'), 'navi-img navi-img-patient'), patients_path, :class => is_active_multiple_controller?('patients', 'case_files')
            - if make_submenu?('patients', 'case_files')
                =image_tag "main_navi_active.png", :alt => 'active menu', :class => "navi-img-active"
            - if make_submenu?('patients', 'case_files')
                %ul.main-subnavigation
                    %li{:class => "main-subnavigation-leaf"}
                        =link_to t('navi.main.search_patient'), patients_path, :class => is_active?('patients', 'index')
                    %li{:class => "main-subnavigation-leaf"}
                        =link_to t('new_patient'), new_patient_path, :class => is_active?('patients', 'new')
    %li{:class => "main-navigation-leaf"}
        - if authorize?('view_patient')
            =link_to make_image_link(t('navi.main.tasks'), 'navi-img navi-img-aufgabe'), patients_path, :class => is_active?('')
            - if is_active?('')
                =image_tag "main_navi_active.png", :alt => 'active menu', :class => "navi-img-active"
    %li{:class => "main-navigation-leaf"}
        - if authorize?('view_appointment')
            =link_to make_image_link(t('navi.main.appointments'), 'navi-img navi-img-termin'), appointments_path, :class => is_active?('appointments')
            - if is_active?('appointments')
                =image_tag "main_navi_active.png", :alt => 'active menu', :class => "navi-img-active"
            - if make_submenu?('appointments')
                %ul.main-subnavigation
                    %li{:class => "main-subnavigation-leaf"}
                        =link_to t("appointment_listing"), appointments_path, :class => is_active?('appointments', "index")
                    %li{:class => "main-subnavigation-leaf"}
                        =link_to t("new_appointment"), new_appointment_path, :class => is_active?('appointments', "new")
    %li{:class => "main-navigation-leaf"}
        - if authorize?('access_administration')
            =link_to make_image_link(t('navi.main.administration'), 'navi-img navi-img-verwaltung'), {:controller => "admin", :action => "index"}, :class => is_active?('admin')
            - if is_active?('admin')
                =image_tag "main_navi_active.png", :alt => 'active menu', :class => "navi-img-active"
            - if make_submenu?('admin', 'users', 'domains', 'permissions', 'catalogs')
                %ul.main-subnavigation
                    %li{:class => "main-subnavigation-leaf"}
                        =link_to t("navi.main.users"), users_path, :class => is_active?('users')
                    %li{:class => "main-subnavigation-leaf"}
                        =link_to t("navi.main.domains"), domains_path, :class => is_active?('domains')
                    %li{:class => "main-subnavigation-leaf"}
                        =link_to t("navi.main.permissions"), permissions_path, :class => is_active?('permissions')
                    %li{:class => "main-subnavigation-leaf"}
                        =link_to t("navi.main.catalogs"), catalogs_path, :class => is_active?('catalogs')
    