%ul.main-navigation
    %li{:class => "first main-navigation-leaf"}
        - if authorize?('view_patient')
            =link_to make_image_link(t('navi.main.patients'), 'navi-img navi-img-patient'), patients_path, :class => is_active_multiple_controller?('patients', 'case_files', 'treatments', 'medical_reports')
            - if is_controller_active?('patients', 'case_files', 'treatments', 'medical_reports')
                =image_tag "main_navi_active.png", :alt => 'active menu', :class => "navi-img-active"
            - if is_controller_active?('patients', 'case_files', 'treatments', 'medical_reports')
                %ul.main-subnavigation
                    %li{:class => "main-subnavigation-leaf"}
                        =link_to t('navi.main.search_patient'), patients_path, :class => is_active?('patients', 'index')
                    %li{:class => "main-subnavigation-leaf"}
                        =link_to t('navi.main.admission_patient'), admission_path, :class => is_active?('patients', 'admission')
                    %li{:class => "main-subnavigation-leaf"}
                        =link_to t('patient.new'), new_patient_path, :class => is_active?('patients', 'new')
    %li{:class => "main-navigation-leaf"}
        - if authorize?('view_own_task')
            =link_to make_image_link(t('navi.main.tasks'), 'navi-img navi-img-aufgabe'), mytasks_path(:user_id => current_user.id), :class => is_active?('usertasks')
            - if is_controller_active?('usertasks')
                =image_tag "main_navi_active.png", :alt => 'active menu', :class => "navi-img-active"
            - if is_controller_active?('usertasks')
                %ul.main-subnavigation
                    %li{:class => "main-subnavigation-leaf"}
                        =link_to t('navi.main.tasks-all'), mytasks_path(:user_id => current_user.id), :class => is_active?('usertasks', 'index')
                    - if authorize?('create_task')
                        %li{:class => "main-subnavigation-leaf"}
                            = link_to t('navi.main.task-new'), new_user_task_path(:user_id => current_user.id), :class => is_active?('usertasks', 'new')
    %li{:class => "main-navigation-leaf"}
        - if authorize?('view_appointment')
            =link_to make_image_link(t('navi.main.appointments'), 'navi-img navi-img-termin'), appointments_path, :class => is_active?('appointments')
            - if is_controller_active?('appointments')
                =image_tag "main_navi_active.png", :alt => 'active menu', :class => "navi-img-active"
            - if is_controller_active?('appointments')
                %ul.main-subnavigation
                    %li{:class => "main-subnavigation-leaf"}
                        =link_to t('appointment.listing'), appointments_path, :class => is_active?('appointments', "index")
                    %li{:class => "main-subnavigation-leaf"}
                        =link_to t("appointment.new"), new_appointment_path, :class => is_active?('appointments', "new")
                    %li{:class => "main-subnavigation-leaf"}
                        =link_to t('appointment.calendar'), calendar_path, :class => is_active?('appointments',"calendar")
    %li{:class => "main-navigation-leaf"}
        - if authorize?('access_administration')
            =link_to make_image_link(t('navi.main.administration'), 'navi-img navi-img-verwaltung'), {:controller => "admin", :action => "index"}, :class => is_active_multiple_controller?('admin', 'users', 'domains', 'permissions', 'catalogs', 'catalog_types', 'report_headers', 'medical_templates', 'database_backup')
            - if is_controller_active?('admin', 'users', 'domains', 'permissions', 'catalogs', 'catalog_types', 'report_headers', 'medical_templates', 'database_backup')
                =image_tag "main_navi_active.png", :alt => 'active menu', :class => "navi-img-active"
            - if is_controller_active?('admin', 'users', 'domains', 'permissions', 'catalogs', 'catalog_types', 'report_headers', 'medical_templates', 'database_backup')
                %ul.main-subnavigation
                    %li{:class => "main-subnavigation-leaf"}
                        =link_to t("navi.main.users"), users_path, :class => is_active?('users')
                    %li{:class => "main-subnavigation-leaf"}
                        =link_to t("navi.main.domains"), domains_path, :class => is_active?('domains')
                    %li{:class => "main-subnavigation-leaf"}
                        =link_to t("navi.main.permissions"), permissions_path, :class => is_active?('permissions')
                    %li{:class => "main-subnavigation-leaf"}
                        =link_to t("navi.main.catalogs"), catalogs_path, :class => is_active?('catalogs')
                    %li{:class => "main-subnavigation-leaf"}
                        =link_to t("navi.main.catalog_types"), catalog_types_path, :class => is_active?('catalog_types')
                    %li{:class => "main-subnavigation-leaf"}
                        =link_to t("navi.main.report_headers"), report_headers_path, :class => is_active?('report_headers')
                    %li{:class => "main-subnavigation-leaf"}
                        =link_to t("navi.main.medical_templates"), medical_templates_path, :class => is_active?('medical_templates')
                    %li{:class => "main-subnavigation-leaf"}
                        =link_to t("navi.main.status_report"), {:controller => "admin", :action => "status"}, :class => is_active?('admin', 'status')
                    %li{:class => "main-subnavigation-leaf"}
                        =link_to t("navi.main.export"), {:controller => "database_backup", :action => "export"}, :class => is_active?('database_backup', 'export')
                    %li{:class => "main-subnavigation-leaf"}
                        =link_to t("navi.main.import"), {:controller => "database_backup", :action => "import"}, :class => is_active?('database_backup', 'import')
    