%ul.main-navigation
    %li{:class => "first main-navigation-leaf"}
        %a{:href => ""}
            %span{:class => "navi-img navi-img-patient"}
            Patienten
    %li{:class => "main-navigation-leaf"}
        %a{:href => ""}
            %span{:class => "navi-img navi-img-aufgabe"}
            Aufgaben
    %li{:class => "main-navigation-leaf"}
        %a{:href => ""}
            %span{:class => "navi-img navi-img-termin"}
            Termine
    %li{:class => "main-navigation-leaf"}
        %a{:href => ""}
            %span{:class => "navi-img navi-img-verwaltung"}
            Verwaltung