%ul.main-navigation
    %li{:class => "first main-navigation-leaf"}
        %a{:href => ""}
            %span{:class => "navi-img navi-img-patient"}
            =t('navi.main.patients')
    %li{:class => "main-navigation-leaf"}
        %a{:href => ""}
            %span{:class => "navi-img navi-img-aufgabe"}
            =t('navi.main.tasks')
    %li{:class => "main-navigation-leaf"}
        %a{:href => ""}
            %span{:class => "navi-img navi-img-termin"}
            =t('navi.main.appointments')
    %li{:class => "main-navigation-leaf"}
        %a{:href => ""}
            %span{:class => "navi-img navi-img-verwaltung"}
            =t('navi.main.administration')