%ul.secondary-navigation
    %li{:class => "first secondary-navigation-leaf"}
        %a{:href => ""}
            =t('navi.tabs.master_data')
    %li{:class => "secondary-navigation-leaf"}
        %a{:href => ""}
            =t('navi.tabs.anamnesis')
    %li{:class => "secondary-navigation-leaf"}
        %a{:href => ""}
            =t('navi.tabs.case_Overview')
    %li{:class => "secondary-navigation-leaf"}
        %a{:href => ""}
            =t('navi.tabs.findings')
    %li{:class => "secondary-navigation-leaf"}
        %a{:href => ""}
            =t('navi.tabs.treatment')
    %li{:class => "secondary-navigation-leaf"}
        %a{:href => ""}
            =t('navi.tabs.tasks')
    %li{:class => "last secondary-navigation-leaf"}
        %a{:href => ""}
            =t('navi.tabs.diagnoses')