%ul{:class => "secondary-navigation" + " " + is_active_multiple_controller?('patients', 'case_files', 'treatments', 'medical_reports', 'patienttasks', 'diagnoses')}
    -if current_active_patient != nil
        - if authorize?('view_patient')
            %li{:class => "secondary-navigation-leaf"}
                =link_to t("navi.tabs.master_data"), {:controller => 'patients', :action => 'show', :id => current_active_patient.id}, :class => is_active?('patients', "show")

        - if authorize?('access_anamnese')
            %li{:class => "secondary-navigation-leaf"}
                %a{:href => ""}
                    =t('navi.tabs.anamnesis')

        - if authorize?('view_casefile')
            %li{:class => "secondary-navigation-leaf"}
                =link_to t("navi.tabs.case_Overview"), patient_case_files_path(:patient_id => current_active_patient.id), :class => is_active?('case_files')

        - if authorize?('access_finding')
            %li{:class => "secondary-navigation-leaf"}
                %a{:href => ""}
                    =t('navi.tabs.findings')

        - if authorize?('view_treatment')
            %li{:class => "secondary-navigation-leaf"}
                =link_to t('navi.tabs.treatment'), patient_case_file_treatments_path(:case_file_id => current_active_patient.active_case_file_id, :patient_id => current_active_patient.id), :class => is_active?('treatments')

        - if authorize?('view_task')
            %li{:class => "secondary-navigation-leaf"}
                =link_to t('navi.tabs.tasks'), patient_tasks_path(:patient_id => current_active_patient.id), :class => is_active?('patienttasks')

        - if authorize?('view_diagnosis')
            %li{:class => "secondary-navigation-leaf"}
                =link_to t('navi.tabs.tasks'), diagnoses_path, :class => is_active?('diagnoses')
