%ul.secondary-navigation
    %li{:class => "first secondary-navigation-leaf"}
        %a{:href => ""}
            Stammdaten
    %li{:class => "secondary-navigation-leaf"}
        %a{:href => ""}
            Anamnese
    %li{:class => "secondary-navigation-leaf"}
        %a{:href => ""}
            Fall&uuml;bersicht
    %li{:class => "secondary-navigation-leaf"}
        %a{:href => ""}
            Befunde
    %li{:class => "secondary-navigation-leaf"}
        %a{:href => ""}
            Behandlung
    %li{:class => "secondary-navigation-leaf"}
        %a{:href => ""}
            Aufgaben
    %li{:class => "last secondary-navigation-leaf"}
        %a{:href => ""}
            Diagnosen