- title t('comment.new')

- semantic_form_for(@comment, :url => patient_comments_path(params[:patient_id])) do |f|
    = f.error_messages

    - f.inputs do
        = f.input :comment, :input_html => { :rows => 4, :cols => 30 }
    = f.buttons

.action-links
    = link_to t('action.back'), comments_path, :class => 'acts_as_button darkgray'
