- form_tag url_for( :controller => "tasks" , :action => "taskcreation"), :class => 'taskcreation' do
    %div
        .task-select-domain
            = collection_select :domain, :id, @domains, :id, :name, options ={:prompt => t('task.choose_domain_select')}, :class =>"domain"
        .task-select-domain-submit
            = submit_tag t('task.nextstep')