-title t('task.new_task')

= render :partial => 'form'

.action-links
    -if current_active_patient
        = link_to t('action.back'), new_patient_task_path(:patient_id => current_active_patient.id), :class => 'acts_as_button darkgray'
    -else
        = link_to t('action.back'), new_task_path, :class => 'acts_as_button darkgray'

