- form_tag 'new_step4', :html => { :id => 'step4' }, :id => 'step4', :class => 'taskcreation formtastic'  do
    =hidden_field_tag "current_stage", "#{@current_stage}"
    %div
        %fieldset{:class=>'inputs'}
            %ol
                -@treatment.medications.each do |med|
                    %li
                        =label_tag 'description[]', med.atc_entry.name, :style=>'width:25%'
                        =text_field_tag 'description[]', med.description, :id=>med
        %p
            .task-select-domain-submit
                = submit_tag t('treatment.nextstep'), :name => "continue", :disable_with => t('please_wait')