- form_tag 'new_step3', :html => { :id => 'step3' }, :id => 'step3', :class => 'taskcreation' do
    %div
        = checkbox_tree @catalog, 'step3' , 'medications'
        .task-select-domain-submit
            = submit_tag t('task.nextstep')
        .task-select-domain-submit
            = submit_tag t('treatment.nextstep_nomeds'), :name => "skip"