%h1=t('treatment.listing')

%table
    %tr
        %th=t('treatment.description')
        %th=t('treatment.starting_date')
    - @treatments.each do |treatment|
        %tr{:onclick=>"location.href='#{url_for patient_case_file_treatment_path(:patient_id => params[:patient_id], :case_file_id => params[:case_file_id], :id => treatment)}';",:style=>"cursor:pointer;"}
            %td= h treatment.description
            %td= h treatment.start_date

.action-links
    = link_to t('treatment.new_button'), new_patient_case_file_treatment_path(:patient_id => params[:patient_id], :case_file_id => params[:case_file_id]), :class => 'acts_as_button'