- title t('treatment.listing')

%table
    %tr
        %th=t('treatment.description')
        %th=t('treatment.starting_date')
        %th=t('treatment.ops_name')
        %th=t('treatment.diagnosis')
    - @treatments.each do |treatment|
        %tr{:onclick=>"location.href='#{url_for patient_case_file_treatment_path(:patient_id => params[:patient_id], :case_file_id => params[:case_file_id], :id => treatment)}';",:style=>"cursor:pointer;"}
            %td= h treatment.description
            %td= h treatment.start_date
            /%td= h treatment.ops_entry.name
            %td
                -treatment.diagnoses.each do |diagnosis|
                    =h diagnosis.description

.action-links
    = link_to t('treatment.new_button'), new_patient_case_file_treatment_path(:patient_id => params[:patient_id], :case_file_id => params[:case_file_id]), :class => 'acts_as_button'