- title t('template.edit')

= render :partial => 'form'

.action-links
    - if authorize?('view_medical_templates')
        = link_to t('action.back'), medical_templates_path, :class => 'acts_as_button darkgray'