<p>
  <b>Description:</b>
  <%=h @diagnosis.description %>
</p>

<p>
  <b>Case file:</b>
  <%=h @diagnosis.case_file_id %>
</p>


<%= link_to 'Edit', edit_diagnosis_path(@diagnosis) %> |
<%= link_to 'Back', diagnoses_path %>