- title t('appointment.new')

= render :partial => 'form'

.action-links
    - if authorize?('view_appointment')
        = link_to t('action.back'), appointments_path, :class => 'acts_as_button darkgray'
