-title t('medical_reports.listing')

- if @header_exists
  %table
    %tr
      %th=t('medical_reports.title')
      %th=t('medical_reports.created')

    - @medical_reports.each do |medical_report|
      %tr{:onclick=>"location.href='#{url_for edit_medical_report_path(medical_report)}';",:style=>"cursor:pointer;"}
        %td=h medical_report.description
        %td=h medical_report.created_at

  .action-links
    - if authorize?('create_medical_report')
      = link_to t('action.create'), new_medical_report_path, :class => 'acts_as_button'
- else
  .messages.warning
    %p=t('medical_reports.no_header')