-title t('medical_reports.listing')

- if @header_exists
  %table
    %tr
      %th=t('medical_reports.title')
      %th=t('medical_reports.created')
      %th=t('medical_reports.print_view')

    - @medical_reports.each do |medical_report|
      %tr
        %td{:onclick=>"location.href='#{url_for edit_medical_report_path(medical_report)}';",:style=>"cursor:pointer;"}=h medical_report.description
        %td{:onclick=>"location.href='#{url_for edit_medical_report_path(medical_report)}';",:style=>"cursor:pointer;"}=h show_datetime(medical_report.created_at)
        %td
          = link_to t('medical_reports.print_view'), patient_medical_report_path(:patient_id => @patient, :id => medical_report.id), :target =>'blank'

  .action-links
    - if authorize?('create_medical_report')
      = link_to t('action.create'), new_medical_report_path, :class => 'acts_as_button'
- else
  .messages.warning
    %p=t('medical_reports.no_header')