-title 'Listing medical_reports'

%table
  %tr
    %th Titel
    %th Actions

  - @medical_reports.each do |medical_report|
    %tr
      %td=h medical_report.description
      %td
        = link_to 'Show', medical_report
        = link_to 'Edit', edit_medical_report_path(medical_report)
        = link_to 'Destroy', medical_report, :confirm => 'Are you sure?', :method => :delete


.action-links
  = link_to 'New medical_report', new_medical_report_path, :class => 'acts_as_button'