= javascript_include_tag :ckeditor

%p
  %b
    Description:
    =h @medical_report.description

%p
  %b
    Report:
    = render :partial => "readonly_editor"




= link_to 'Edit', edit_medical_report_path(@medical_report)
|
= link_to 'Back', medical_reports_path